<div id="forum">
{% for n in forum_rows %}
  <div class="media">
  <div class="media-left">
  	{% if n.del %}
     <a href="{{ n.del }}">Törlés</a>
  {% else %}
    <a href="#">.</a>
  {% endif %}
  	
    <!--<a href="#">
      <img class="media-object" src="..." alt="...">
    </a>-->
  </div>
  <div class="media-body">
    <h4 class="media-heading"> {{ n.name }} {{ n.ts }}</h4>
     {{ n.forum_text }}  
  </div>
</div>
{% else %}
  <li>Jelenleg nincs mondandóm...</li>
{% endfor %}
</div>