<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="../assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/app/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <!--<li role="presentation"><a href="/prof">Profile</a></li>-->
    
    {% if userin %}
     <li role="presentation"><a href="/logout">Kilépés</a></li>
     <li role="presentation"><a href="/unsubscribe">Leirtakozás</a></li>
  {% else %}
    <li role="presentation"><a href="/reg">Regisztráció</a></li>
  {% endif %}
  </ul>