
  	
    <h1>Fórumok fóruma</h1>
    <p>
	  alias Felvételi Feladat
	</p>
	{% if userin %}
	  	<p>
		  Halihó <b>{{name}}</b>!
		  Írj, írj, írj!  
		</p>
		{% if forum_form%}
			<form action="#" method="post">
		    	{{ form_widget(forum_form) }}

		    	<input type="submit" name="submit" />
			</form>
		{%else%}
		<!-- x -->
		{% endif%}
	{% else %}
	  	<p>
	  		Jelentkezz be! Amennyiben már felhasználó vagy, itt megadhatod az adataidat:
		</p>
		<form action="#" method="post">
		    {{ form_widget(form) }}

		    <input type="submit" name="submit" />
		</form>

		<!-- <form  action="" method="POST" class="navbar-form navbar-left" role="search">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">@</span>
			  <input id="name" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
			  <input id="pw" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
			  <span class="input-group-btn">
		        <input type="submit" name="submit" />
		      </span>

			</div>
		</form> -->
	{% endif %}